<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/semantic.min.css}">
    <script type="text/javascript" th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/semantic/semantic.min.js}"></script>
</head>
<style>
    #tr_son_middle > th {
        text-align: center;
    }

    #body_data  td {
        text-align: center;
    }

    #add_form input {
        width: 300px;
    }
</style>
<body>
<div class="ui top blue attached button">定时任务管理</div>
<h4 class="ui horizontal divider header">
    &nbsp;<i class="bar caret down icon"></i>
</h4>

<br/>
<br/>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="请输入Bean名称">
                <i class="search icon"></i>
            </div>
            <div class="results">

            </div>
            <button class="ui primary button right floated">
                新增
            </button>
        </div>
    </div>
    <!--底部区域-->
    <div class="sixteen wide column">
        <table class="ui celled padded table">
            <thead>
            <tr id="tr_son_middle">
                <th>操作</th>
                <th class="single line">任务ID</th>
                <th>Bean名称</th>
                <th>方法名称</th>
                <th>方法参数</th>
                <th>cron表达式</th>
                <th>状态</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody id="body_data">

            </tbody>
        </table>
    </div>
    <!--新增模态框-->
    <div class="ui first coupled modal tiny">
        <i class="close icon"></i>
        <div class="header" id="div_header">
            新增任务
        </div>
        <br>
        <br>
        <div style="text-align: right;width: 390px;">
            <div class="ui negative message transition hidden" style="display: none;width: 530px;">
                <i class="close icon"></i>
                <div class="header" style="text-align: center;">

                </div>
            </div>
            <br>
            <form class="ui form" id="add_form">
                <div class="inline field">
                    <label><span style="color: red;">*</span>Bean名称</label>
                    <input type="text" name="beanName">
                </div>
                <div class="inline field">
                    <label><span style="color: red;">*</span>方法名称</label>
                    <input type="text" name="methodName">
                </div>
                <div class="inline field">
                    <label>方法参数</label>
                    <input type="text" name="methodParams">
                </div>
                <div class="inline field">
                    <label><span style="color: red;">*</span>cron表达式</label>
                    <input type="text" name="cronExpression" placeholder="请确保不要有多余空格输入">
                </div>
                <div class="inline fields" style="margin-left: 50px;">
                    <label>状态</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="jobStatus" tabindex="0" class="hidden" value="1"
                                   id="ipt_for1">
                            <label for="ipt_for1">启动</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="jobStatus" tabindex="1" class="hidden" value="0"
                                   id="ipt_for2">
                            <label for="ipt_for2">暂停</label>
                        </div>
                    </div>
                </div>
                <div class="inline field">
                    <label>备注</label>
                    <textarea rows="3" style="width: 300px;" name="remark"></textarea>
                </div>
                <div class="inline field" style="display: none;">
                    <label>隐藏域</label>
                    <input type="text" name="id">
                </div>
                <button class="ui button" type="button" id="btn_reset" style="margin-right: 130px;">重置</button>
                <button class="ui button primary" type="button" id="btn_submit">提交</button>
                <br>
                <br>
            </form>
        </div>
    </div>

    <!--提示弹框-->
    <div class="ui second coupled small modal">
        <div class="header">提示</div>
        <div class="content">
            <p></p>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                确定
            </div>
        </div>
    </div>
    <!--是否删除提示层-->
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
        </div>
        <div class="content">
            <p>是否删除该信息吗?</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
</div>
<br/>
</body>
<script type="text/javascript" th:src="@{/index/index.js}"></script>
</html>
